body{
  font-size: 15pt;
  background:#fff;
  color: #fff;
  display:grid;
}
table,td{
  border:5pt;
  align-items: center;
}
.blue{
  color:#0060ff;
  
}
button{
  background:#303030;
  border:#202020;
  font-size: 30px;
  color: #fff;
  height: 75px;
  width: 80px;
  border-radius: 12%;
  font-family: sans-serif;
}
.empty{
  width: 100%;
  height: 300px;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  background: #1010;
}
.space{
  background: #303030;
}
#bigblue{
  height: 115px;
  background: #0070ff;
  width: 52px;
  font-size: 40px;
  border-color: #fff;
}
.overall{
  margin: auto;
  border: 2px solid #303030;
  border-radius: 10px;
  background: #202020;
  width:340px;
}
.output{
  grid-column: 1 / -1;
  position: relative;
  top:200px;
  font-size: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.previous-operand{
  font-size: 30px;
  color: #ddd;
}

  
